h1 About this blog
| This is the personal blog of Adam Wong, RoR developer <i>par excellence.</i>

p
  | When I'm not coding, I practice muy thai kickboxing and brazillian jiu jitsu. He has two dogs and a wonderful boyfriend.

hr

iframe frameBorder="0" src="http://githubbadge.appspot.com/badge/adamwong246?s=1&a=0" style="border: 0;height: 142px;width: 200px;overflow: hidden;"