- content_for(:page_title) do
  = post_title(@post)

.well
  = render :partial => 'posts/post', :locals => {:post => @post, :short => false}
  
  / .pagination
  /   = render :partial => 'kaminari/prev_page', :locals => {:current_page => Post.first, :url => "", :remote => true}
  /   = render :partial => 'kaminari/next_page', :locals => {:current_page => @post.next, :url => "", :remote => true}

- if @post.previous
  = link_to "< Previous", @post.previous
  = "  "
- if @post.next
  = link_to "Next >", @post.next

= render :partial => 'comments/reply_form', :locals => {:post => @post.comments.create}
/ a.form_open href="#" Reply?  
/ .form_and_preview_container

/   h6 Your comment will appear as...

/   = form_for(@post.comments.create) do |form|

/     = form.hidden_field :post_id
/     = form.hidden_field :parent_id

/     p
/       = form.text_field 'author'
/       label for="comment_author"
/         small
/           | Name or
/           a href="http://openidexplained.com/" Open
/           | (required)
/     p
/       = form.text_area 'body'
/       br/
/       small
/         | (
/         a href="http://lesstile.rubyforge.org"
/         | \- surround code blocks with ---)
/     p= submit_tag "Add Comment"

- @root_comments.each do |comment|
  = render :partial => 'comments/comment', :locals => {:comment => comment, :level => 0, :reply_link => true}

.related
  | Looking for more? Head on over to the #{link_to("archives", archives_path)}.
/ h2 Post a comment
/ - unless @comment.errors.empty?
/   .errors
/     h3 Comment not added!
/     ul
/       - @comment.errors.sort_by(&:first).each do |error|
/         li= format_comment_error(error)

