/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=require_tree
 */
 
// $navbarBackgroundHighlight:       #ffffff;
// $navbarBackground:                white;
// $navbarBorder:                    white;

// $navbarText:                      #777;
// $navbarLinkColor:                 #777;
// $navbarLinkColorHover:            red;
// $navbarLinkColorActive:           gray;
// $navbarLinkBackgroundHover:       transparent;
// $navbarLinkBackgroundActive:      white;

// $navbarBrandColor:                $navbarLinkColor;


$bodyBackground: black;
$textColor: gray;

@import "bootstrap";
@import "bootstrap-responsive";
 
img.you_ad_here, img.sig{
  -webkit-filter: invert(1);
}
div.short {
  text-overflow: "...";
  display: inline-block;
  width: 100%;
  max-height:100px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top; 
  

}




pre{
  background-color: black;
  color: gray;
}
textarea.full_width{
  width: 100%;
}

body{
  padding-top:10px;
}
 
span.tags a{
  color: gray;
}

.title_and_date{
  h2{
    display:inline-block;
    padding-right:10px;
  }
  h5{
    display:inline-block;  
  }
}
 
#footer{
  float:right;
  display:inline-block;
 
  div{
    display: inline-block;
  }
  img{
    display: inline-block;
  }
}

$well_color: black;

.well{
  background-color: darken($well_color, 10);
  border: transparent;
  // .well{
  //   background-color: darken($well_color, 20);
  //   .well{
  //     background-color: darken($well_color, 30);
  //   }
  // }
}


// .social-buttons { display: block; list-style: none; padding: 0; margin: 20px; }
// .social-buttons > li { display: block; margin: 0; padding: 20px; float: left; }
// .social-buttons .socialite { display: block; position: relative; background:  url(image_path('social-sprite.png')) 0 0 no-repeat; }
// .social-buttons .socialite-loaded { background: none !important; }
// .social-buttons .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
// .social-buttons .googleplus-one { width: 50px; height: 65px; background-position: -75px 0; }
// .social-buttons .facebook-like { width: 50px; height: 65px; background-position: -145px 0; }
// .social-buttons .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }
// .vhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }


// #social2-load { margin: 0 0 0.625em 0; font-weight: bold; padding: 5px; }

// .social-buttons { display: block; list-style: none; padding: 10px; margin: 10px; }
// .social-buttons > li { display: block; margin: 0; }
// .social-buttons .socialite { display: block; position: relative; width: 150px; height: 30px; background: url(image_path('custom-default.png')) 0 0 no-repeat; }
// .social-buttons .socialite-loaded { background: none; }

// .social-buttons .twitter-share { background-position: 0 0; }
// .social-buttons .googleplus-one { background-position: 0 -45px; }
// .social-buttons .facebook-like { background-position: 0 -90px; }
// .social-buttons .linkedin-share { background-position: 0 -135px; }
// .social-buttons .pinterest-pinit { background-position: 0 -175px; }

// table.nav.pull-right.share-buttons{
//   border: 1px solid white;
 
//   td{
//     border: 1px solid red;
//     vertical-align:middle;
//   }
// }
 
// ul.nav.pull-right.share-buttons li { display: inline; }
 
// ul.nav.pull-right.share-buttons li a
// {
// text-decoration: none;
// padding: .2em 1em;
// color: #fff;
// background-color: #036;
// }
 
// .nav-collapse{
//   display: table;   /* Allow the centering to work */
//   margin: 0 auto;
 
//   ul#horizontal-list {
//   min-width: 696px;
//   list-style: none;
//   padding-top: 20px;
//   }
//   ul#horizontal-list li {
//     display: inline;
//   }
// }
 
// ul.nav.pull-right.share-buttons{
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
//   text-align: center;
 
//   li { display: inline; }
// }