 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

// my colors
$blog_color:  lighten(desaturate(cyan,    10), 10);//#4395FF;
$lab_color:   lighten(desaturate(magenta, 10), 10);//#B611FF;
$about_color: lighten(desaturate(yellow,  10), 10);//#F921B9;

$light_blog_color:  darken(desaturate($blog_color,   10), 10);//#4395FF;
$light_lab_color:   darken(desaturate($lab_color,    10), 10);//#B611FF;
$light_about_color: darken(desaturate($about_color,  10), 10);//#F921B9;

@import url("http://fonts.googleapis.com/css?family=Tauri");
@import url("http://fonts.googleapis.com/css?family=Codystar");
@import url("http://fonts.googleapis.com/css?family=Raleway+Dots");
@import url("http://fonts.googleapis.com/css?family=Questrial");


// bootrap customized vars
$bodyBackground:        #060606;
$textColor:             #fff;
$wellBackground:        #222  ;
$paginationBackground:                $bodyBackground;
$paginationBorder:                    #ddd;
$paginationActiveBackground:          $wellBackground;
$dropdownBackground:            $wellBackground;
$dropdownLinkColor:             orange;
$dropdownLinkColorHover:        red;
$dropdownLinkColorActive:       violet;
$dropdownLinkBackgroundActive:  pink;
$dropdownLinkBackgroundHover:   orange;
// $navbarBackground:green;
// $navbarBackgroundHighlight:yellow;

// Form states and alerts
// -------------------------
$warningText:             $light_blog_color !default;
$warningBackground:       black;//$blog_color !default;
$warningBorder:           red;//darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               $light_lab_color !default;
$errorBackground:         $lab_color !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             $light_about_color !default;
$successBackground:       $about_color !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;

$baseBorderRadius: 0;
$baseFontSize: 16px;
$baseLineHeight: 26px;

// Then bootstrap itself
@import "bootstrap";

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

@import "compass/css3";

// @import 'font-awesome'; // SASS style
@import "font-awesome"; //SCSS style

// Whatever application styles you have go last
@import "page";
@import "comment";

.icon-book{
  color: cyan !important;
}
.icon-beaker{
  color: magenta !important;
}
.icon-question-sign{
  color: yellow !important;
}

.modal{
  background-color: $wellBackground;

  h3{
    color: lightgray;
  }
}
.alert-message{
  &.notice{
    color: cyan !important;
  }
  &.success{
    color: magenta !important;
  }
  &.error{
    color: yellow !important;
  }
}
@mixin themer($color) {

  color: lightgray;
  // color: lighten(desaturate($color,    10), 10);
  // .brand {color: $color;}

  a {
    color: lighten(desaturate($color,    30), 30);

    &:visited{
      // color: $color;//lighten(desaturate($color,    50), 50) !important;
    }
  }

  a:hover, a:hover > [class*="span"]{
    background-color: darken(desaturate($color,    30), 30) !important;
    text-decoration: none;
  }

  #logo * {
    color: $color;
  }

  #secondary_yeld h1,#secondary_yeld  h2,#secondary_yeld  h3,#secondary_yeld  h4,#secondary_yeld  h5,#secondary_yeld  h6{
    color: lighten(desaturate($color,    5), 5);
  }

  hr{
    border-top: 1px solid lighten(desaturate($color,    10), 10);
    border-bottom: 1px solid lighten(desaturate($color,    10), 10);
  }

  .pagination ul li a{
    border: 1px solid lighten(desaturate($color,    10), 10);
  }

  * {stroke: $color;}

  
  background-color: darken(desaturate($color,    50), 45) !important;
}

body.blog{
  @include themer(cyan);
}
body.lab{
  @include themer(magenta);
}
body.about{
  @include themer(yellow);
}

body{
  font-family: 'Questrial', sans-serif;
  background: url(image_path('half-tone-008.svg'));
  background-attachment: fixed;
  background-size: 100% ;
}

#logo * {
  font-family: 'Codystar', sans-serif !important;
}

#footer.row-fluid > div{

  * {
    font-family: 'Codystar', sans-serif !important;
    text-align:right;
  }
}

#for_hire{
  position: absolute;
  top: -50px;
  right:-80px;
  
  @include transform(scale(0.5) rotate(10deg));
}



.navbar .nav > li > a {
  text-shadow: none !important;
}



// div[class*="icon"] {
//   font-size: 24px;
// }

#top_of_page{
  padding-top:20px;
}

.navbar .nav > li > a:hover{
  background-color: transparent !important;
}

#secondary_yeld.span3{
  ul li{
    // border:lightgray 1px solid;
  }
}




span.label{
  margin-right: 10px;
  margin-left: 10px;
}


.navbar .btn-navbar{
  // float: none;
}


div{
  // & * {background-color:blue !important;}

  #sticky_navigation.navbar {
    margin-bottom: 0px; 
    // border-top: white 1px solid;
      .navbar-inner{

      // -webkit-background-clip: text, border; color: transparent
      // * {
      //   background-color: transparent;
      // }

      // li a {
      //   @include background-clip(text);
      //   color: transparent;
      // }

      border: none;
      padding-left:0px; 
      padding-right:0px;

      // padding-top: 1px;
      // // padding-bottom: 3px;
      // border-top: red 1px solid;
      // border-top: red 5px solid !important;

      background: #03ffff !important; /* Old browsers */
      background: -moz-linear-gradient(left, #03ffff 0%, #ff00ff 50%, #ffff00 100%) !important; /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#03ffff), color-stop(50%,#ff00ff), color-stop(100%,#ffff00)) !important; /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, #03ffff 0%,#ff00ff 50%,#ffff00 100%) !important; /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, #03ffff 0%,#ff00ff 50%,#ffff00 100%) !important; /* Opera 11.10+ */
      background: -ms-linear-gradient(left, #03ffff 0%,#ff00ff 50%,#ffff00 100%) !important; /* IE10+ */
      background: linear-gradient(to right, #03ffff 0%,#ff00ff 50%,#ffff00 100%) !important; /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffff', endColorstr='#ffff00',GradientType=1 ) !important; /* IE6-9 */

      > .container-fluid{

        background-color: $wellBackground;
        

        // button{
        //   margin-top:7px;
        //   margin-bottom:7px;
        // }
      }
    }
  }
}

  // height: 2px;

  // background: #03ffff !important; /* Old browsers */
  // background: -moz-linear-gradient(left, #03ffff 0%, #ff00ff 50%, #ffff00 100%) !important; /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, right top, color-stop(0%,#03ffff), color-stop(50%,#ff00ff), color-stop(100%,#ffff00)) !important; /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(left, #03ffff 0%,#ff00ff 50%,#ffff00 100%) !important; /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(left, #03ffff 0%,#ff00ff 50%,#ffff00 100%) !important; /* Opera 11.10+ */
  // background: -ms-linear-gradient(left, #03ffff 0%,#ff00ff 50%,#ffff00 100%) !important; /* IE10+ */
  // background: linear-gradient(to right, #03ffff 0%,#ff00ff 50%,#ffff00 100%) !important; /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffff', endColorstr='#ffff00',GradientType=1 ) !important; /* IE6-9 */


.stuck{
  position: fixed;
  width: 97% !important;
  top: 0; 
  opacity: 0.5;
  // padding-right: 20px;
  z-index: 1;

  &:hover{ opacity: 1;}

  // .nav-collapse .nav > li{
  // float:right;
// }

}

.center_content{
    // border:1px solid blue;
    margin: 0 auto; 
    text-align: center; 
  }

#footer h1{
  text-align:right;
}


.nav{
  .icon-facebook{
    color: #3B5998 !important;
  }
  .icon-twitter{
    color: #4099FF !important;
  }
  .icon-google-plus{
    color: #db5a3c !important;
  }
}

// #wrapper {
//     width:100%; 
//     margin:0 auto;
// }

// #signature.span2{
//   width:100%; height:400%;
// }

svg{
  background: transparent;
  margin:0 auto;
  height: 100%;
  width: 100%;
}



.modal-backdrop {
  // background-color: black ;
  &.fade { opacity: 0.5; }
}

// .modal{
//   background-color: #333;

//   h1, h2, h3, h4, h5, h6{color: red;}
// }

#modal-flash{
  .alert-message{
    padding-left: 5px;
  }

  button.btn{
    float:right;
  }
}

// a.brand{
//   text-size: 30
// }

code{
  white-space: normal;
}

// #footnotes_holder{
//   position: absolute;
// }

.well{
  border:none;
  background: transparentize($wellBackground, 0.2);
}

// #sticky_navigation_wrapper { width:100%; height:50px; }

// #sticky_navigation {
//   width:100%;

//   &:hover{
//     opacity:1.0 !important;
//   }
// }

short {
  text-overflow: "...";
  display: inline-block;
  width: 100%;
  max-height:600px;
  white-space: wrap;
  overflow: hidden;
  vertical-align: top; 
}

textarea.full_width{
  width: 100%;
}

body{
  padding-top:10px;
}
 
span.tags a{
  color: gray;
}

.title_and_sub_title{
  h1, h2, h3, h4, h5, h6{
    display:inline-block;
    padding-right: 10px;  
  }
}