div.comment_container{
  border: 1px solid white;
  background-color: black;
  padding:5px;
  padding-left: 10px;
  margin-bottom: 5px;
  /*padding-left: 20px*/
}

div.form_and_preview_container {
    display:none;
    border: 1px solid red;
    background-color: black;
    padding:10px;
    margin:0px;
}




/*.form_and_preview_container{
  background-color: blue;
}
.comment-preview-container{
  border:5px solid red;
}*/