doctype
html dir="ltr" lang="en-US"
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta content="width=(device-width,)initial-scale=1.0" name="viewport"
    title Admin
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
    
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar data-target=".nav-collapse" data-toggle="collapse"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand href="/"
          .nav-collapse
            ul.nav
              li= nav_link_to("Dashboard", admin_root_path,       :accesskey => '1')
              li= nav_link_to("Posts",     admin_posts_path,      :accesskey => '2')
              li= nav_link_to("(+)", new_admin_post_path, :accesskey => 'n')
              li
                = nav_link_to("Pages",     admin_pages_path,      :accesskey => '3')
              li= nav_link_to("(+)", new_admin_page_path, :accesskey => 'p')
              li= nav_link_to("Comments",  admin_comments_path,   :accesskey => '4')
              li= nav_link_to("Actions",   admin_undo_items_path, :accesskey => '5')
              li= nav_link_to("Health",    admin_health_path,     :accesskey => '6')
              li= link_to("Logout", admin_session_path, :accesskey => 'l', :method => :delete)
              li= link_to("View Site", '/',             :accesskey => 'v', :title => 'View Site')
          /! /.nav-collapse
    .container-fluid
      .row-fluid
        .span12
          = yield
